In [2]:
print("hello world from Python")

hello world from Python

In [3]:
x = 5
y = 6
print(x+y)

11

## Four important pillars of any programming language
1. Data Types - 
    - primitive = integer, float, string, boolean and complex
    - non primitve = list, tuple, dictionary and set
    
2. Control Flow - 
    - if else
    - for loop
    - while loop
    
3. Functions

4. Object oriented programming (Not particularly relevant for analytics)

In [4]:
sum([7,5,6,5,8,8,])

39

## Data Types

In [5]:
x = 5
print(x)
type(x)

5

int

In [6]:
y = 2.5
print(y)
type(y)

2.5

float

In [7]:
z = "Hello from python"
print(z)
type(z)

Hello from python

str

In [8]:
k = True
print(k)
type(k)

True

bool

In [9]:
#list 
x = [40,10,2.5,'python','hi',124]
print(x)
type(x)

[40, 10, 2.5, 'python', 'hi', 124]

list

In [10]:
x[3]

'python'

In [11]:
x.append('India')
print(x)

[40, 10, 2.5, 'python', 'hi', 124, 'India']

In [12]:
x.insert(2,'bye')
print(x)

[40, 10, 'bye', 2.5, 'python', 'hi', 124, 'India']

In [13]:
x[0] = 100
print(x)

[100, 10, 'bye', 2.5, 'python', 'hi', 124, 'India']

In [16]:
# tuple
y = (7,5,2.6,45,'hiiiii','hello')
print(y)
type(y)

(7, 5, 2.6, 45, 'hiiiii', 'hello')

tuple

In [17]:
#Tuples can't be updated
y[0] = 45
print(y)

TypeError: 'tuple' object does not support item assignment

In [18]:
# dictionary
w = {"name":"Mike","Language":"Python","year":2020,"laptop":"HP"}
print(w)
type(w)

{'name': 'Mike', 'Language': 'Python', 'year': 2020, 'laptop': 'HP'}

dict

In [19]:
w['name']

'Mike'

In [20]:
w['laptop']

'HP'

In [22]:
w = {"name":["Mike","Patrick","Marc"],"Language":"Python","year":2020,"laptop":"HP"}

In [23]:
w["name"]

['Mike', 'Patrick', 'Marc']

In [24]:
w['name'][0]

'Mike'

In [25]:
"""
i am multiline comments
i am also part of multiline comment
"""
# i am used for single line comment

'\ni am multiline comments\ni am also part of multiline comment\n'

In [26]:
# set
a = {7,7,4,5,8,5,2,5,2}
print(a)
type(a)

{2, 4, 5, 7, 8}

set

In [27]:
b = {1,2,3,5,4}
a.union(b)

{1, 2, 3, 4, 5, 7, 8}

In [28]:
a.intersection(b)

{2, 4, 5}

# Control Flow

In [26]:
age = int(input("Enter your age "))
print("your age is ",age)


if age<18:
    print("you are a kid")
    print("go and learn and play cricket")
    print("Enjoy life, a lot is coming your way")
elif age>=18 and age<35:
    print("Now its time to learn and earn")
    print('learn analytics and mathematics')
    print("Travel and explore the world")
    print("get ready for next phase")
else:
    print("Now you are adult")
    print("get ready for second innings")

Enter your age 15
your age is  15
you are a kid
go and learn and play cricket
Enjoy life, a lot is coming your way

In [43]:
#loops - whenever we want to repeat the execution of a syntax
#for loop    - whenever the exact count of repeation is known
#while loop - whenever exact count is not known or conditional repeation is needed

In [44]:
print("Hello from python and anaconda")
print("Hello from python and anaconda")
print("Hello from python and anaconda")
print("Hello from python and anaconda")
print("Hello from python and anaconda")

Hello from python and anaconda
Hello from python and anaconda
Hello from python and anaconda
Hello from python and anaconda
Hello from python and anaconda

In [28]:
for i in range(5):
    print("Hello from python and anaconda")

Hello from python and anaconda
Hello from python and anaconda
Hello from python and anaconda
Hello from python and anaconda
Hello from python and anaconda

In [47]:
for i in range(5):
    print("Hello from python and anaconda",i)

Hello from python and anaconda 0
Hello from python and anaconda 1
Hello from python and anaconda 2
Hello from python and anaconda 3
Hello from python and anaconda 4

In [29]:
password = "1234"
userpass = "0"
while userpass!=password:
    userpass = input("Enter the right password")
    print("Try Again")

Enter the right password0
Try Again

KeyboardInterrupt: Interrupted by user

In [49]:
age = [24,24,25,26,28,24,33,35,38]
for i in age:
    print("you will be ",i+5," years older after 5 years")

you will be  29  years older after 5 years
you will be  29  years older after 5 years
you will be  30  years older after 5 years
you will be  31  years older after 5 years
you will be  33  years older after 5 years
you will be  29  years older after 5 years
you will be  38  years older after 5 years
you will be  40  years older after 5 years
you will be  43  years older after 5 years

In [50]:
for i in range(len(age)):
    print("you will be ",age[i]+5," years older after 5 years")

you will be  29  years older after 5 years
you will be  29  years older after 5 years
you will be  30  years older after 5 years
you will be  31  years older after 5 years
you will be  33  years older after 5 years
you will be  29  years older after 5 years
you will be  38  years older after 5 years
you will be  40  years older after 5 years
you will be  43  years older after 5 years

# Functions

In [ ]:
x = [7,5,4,8,2]

In [ ]:
print(x)

In [ ]:
sum(x)

In [ ]:
min(x)

In [55]:
max(x)

8

In [56]:
len(x)

5

In [31]:
def mac(a,b):
    c = a*b
    return c

In [32]:
mac(4,3)

12

In [33]:
mac(12,5)

60

In [34]:
mac(a=5,b=6)

30

In [35]:
k = mac(3,2)
k

6

In [39]:
import sunday

In [41]:
sunday.multiply(7,3)

21

In [42]:
# sunday is a module 
# multiply is a function inside the module

In [43]:
import sunday

In [45]:
sunday.add(4,5)

9

In [46]:
k = sunday.add(7,3)
k

10

In [47]:
"""
iam wriiting a multiline comment
segg
sewg
gwegwgw
gwegw
"""
print('hi')

hi